
* {
	box-sizing: border-box;
}

.board {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 50px;
	box-shadow: 5px 5px 5px rgb(99, 98, 98);
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid rgb(49, 49, 49);
}

.red {
	background-image: url("http://www.roborealm.com/uploads/26090_1.jpg");
	background-position: center;
	background-size: cover;
}
.background-playerA {
	background-color: rgb(233, 12, 12);
}
.background-playerB {
	background-color: rgb(37, 56, 85);
}

.blue {
	background-image: url("http://www.clker.com/cliparts/V/n/q/0/3/0/number-2-grey-flat-icon-x-hi.png");
	background-position: center;
	background-size: cover;
}
#round-info {
	height: 70px;
	width: 100%;
	text-align: center;
	padding: 17px;
	margin-top: 15px;
	letter-spacing: 1px;
	font-size: 30px;	
	color: #fafafa; 
}
.scores {
	margin-left: 35%;
	margin-top: 50px;
	height: 200px;
	background-color: rgba(253, 253, 253, 0.6);
	color: rgb(54, 54, 54);
	letter-spacing: 1px;
	text-align: center;
	width: 30%;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
}
#playerA-score {
	color: rgb(233, 12, 12);
	
}
#playerB-score {
	color: rgb(37, 56, 85);
}
.buttons-style {
	background-color: rgb(77, 77, 77);
	color: white;
	letter-spacing: 1px;
	padding: 10px;
	border-radius: 10px;
	width: 100px;
}
h3 {
	background-color: rgb(223, 178, 29);
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 50px;
	letter-spacing: 1px;
	font-size: 30px;
	
}



